.container {
    width: 100%;
    height: 100vh;

    .boxGuessColor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 6rem;
        text-transform: uppercase;

        .title {
            font-size: 2.5rem;
            color: #48525D;
        }

        .boxTime {
            width: 500px;
            display: flex;
            margin-top: 4rem;
            border-radius: 10px;
            border: 3px solid #9EA6B0;
            background-color: #E5E9F1;

            .time {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #48525D;
                border-right: 3px solid #9EA6B0;
                padding: 1rem 1rem;
                font-weight: 600;
            }

            .restartGame {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #a5a8af;
                background-color: #D2D7DF;
                border-right: 3px solid #9EA6B0;
                padding: 1rem 1rem;
                font-weight: 600;
                cursor: pointer;
            }

            .boxScore {
                width: 50%;

                .score {
                    color: #48525D;
                    padding: 1rem 1rem;
                    font-weight: 600;
                    background-color: #E5E9F1;
                    border-radius: 0 10px 0 0;
                }

                p:nth-child(1) {
                    border-bottom: 3px solid #9EA6B0;
                }

                p:nth-child(2) {
                    border-radius: 10px;
                }
            }
        }

        .boxColor {
            width: 500px;
            height: 400px;
            background-color: #FEEED8;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            .start {
                width: 12rem;
                height: 3rem;
                border-radius: 4px;
                font-size: 1.2rem;
                color: #E9EBEC;
                background-color: #48525D;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        .boxRandomColors {
            width: 500px;
            display: flex;
            text-align: center;
            margin-top: 2rem;
            border-radius: 10px;
            border: 3px solid #9EA6B0;

            li {
                width: 100%;
                color: #48525D;
                border-right: 3px solid #9EA6B0;
                padding: 1rem 1rem;
                font-weight: 600;
                cursor: pointer;
                list-style: none;
            }

            li:nth-child(3) {
                border-right: none;
            }
        }
    }
}
